.hero {
  position: relative;
  margin-bottom: 80px;
  padding-top: 20px;
}

.swiper-slide .slider_content {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 1;
}

.swiper-slide .slider_content h1 {
  text-transform: uppercase;
  font-size: 1vw;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 5px;
}

.swiper-slide .slider_content h2 {
  text-transform: capitalize;
  font-size: min(1.5vw, 2.5vw);
  margin-bottom: 30px;
  color: var(--main_color);
  font-weight: bolder;
  line-height: 1.1;
}

.swiper-slide .slider_content p {
  font-size: 1.1vw;
  /* margin-top: 2.5vw; */
  margin-bottom: 2.5vw;
}

.swiper-slide .slider_content .btn {
  font-size: 0.8vw;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}
