.product {
  width: 250px;
  background-color: var(--white_color);
  padding: 25px 15px;
  border: 1px solid var(--border_color);
  border-radius: 5px;
  position: relative;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.product:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--main_color);
}

.product .status_cart {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.3s ease-in-out;
}

.product.inCart .status_cart {
  top: 10px;
}

.status_cart svg {
  fill: rgb(44, 252, 3);
  font-size: 16px;
}

.product .img_product {
  position: relative;
  height: 180px;
  padding: 0 20px;
  margin-bottom: 25px;
}

.product .name_product {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--color_heading);
}

.product .product_rating {
  margin: 15px 0;
  display: flex;
  gap: 5px;
}

.product .product_rating svg {
  fill: #f1c40f;
  font-size: 18px;
}

.product .product_price {
  font-weight: bold;
  font-size: 25px;
  color: var(--main_color);
}

.product .product_price span {
  font-size: 16px;
  font-weight: 500;
}

.product .product_icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  right: -50px;
  gap: 10px;
  transition: 0.3s;
  opacity: 0;
}

.product:hover .product_icons {
  right: 15px;
  opacity: 1;
}

.product .product_icons span {
  width: 40px;
  height: 40px;
  background-color: var(--bg_color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.product .product_icons span:hover {
  background-color: var(--main_color);
  color: var(--white_color);
}

.product.inCart .product_icons span:first-child {
  background-color: var(--main_color);
  color: var(--white_color);
  cursor: not-allowed;
}
