:root {
  --main_color: #0090f0;
  --p_color: #7b7b7b;
  --bg_color: #f3f3f3;
  --white_color: #fff;
  --color_heading: #253237;
  --border_color: #d6d6d6d5;
}
.slide_products {
  padding: 50px 0;
}
.top_slide {
  position: relative;
  margin-bottom: 20px;
  padding: 15px 20px 20px 0;
  border-bottom: 1px solid var(--border_color);
}

.top_slide::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100px;
  height: 2px;
  background: var(--main_color);
}

.top_slide h3 {
  font-size: 30px;
  color: var(--main_color);
  margin-bottom: 10px;
  font-weight: 600;
}
