.slide_products {
  padding: 50px 0;
}
.top_slide {
  position: relative;
  margin-bottom: 20px;
  padding: 15px 20px 20px 0;
  border-bottom: 1px solid var(--border_color);
}

.top_slide::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100px;
  height: 2px;
  background: var(--main_color);
}

.top_slide h3 {
  text-transform: capitalize;
  font-size: 30px;
  color: var(--main_color);
  margin-bottom: 10px;
  font-weight: 600;
}

.swiper_product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .swiper_product {
    padding: 0 12%;
  }
}
