:root {
  --main_color: #0090f0;
  --p_color: #7b7b7b;
  --bg_color: #f3f3f3;
  --white_color: #fff;
  --color_heading: #253237;
  --border_color: #d6d6d6d5;
}

.item_details {
  padding: 50px 0;
}

.item_details .item_details_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.item_details .img_item {
  width: 40%;
}

.item_details .img_item .big_img {
  width: 100%;
}

.item_details .img_item .small_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.item_details .img_item .small_img img {
  width: 24%;
  cursor: pointer;
}

.item_details .details_item {
  width: 55%;
}

.item_details .details_item .item_title {
  margin-bottom: 30px;
  color: var(--main_color);
  font-size: 30px;
  font-weight: 600;
}

.item_details .details_item .item_stars {
  margin: 15px 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.item_details .details_item .item_stars svg {
  fill: #f1c40f;
  font-size: 20px;
}

.item_details .details_item .item_price {
  margin: 20px 0;
  font-size: 25px;
  font-weight: 600;
  color: var(--main_color);
}

.item_details .details_item .item_price span {
  font-size: 20px;
}

.item_details .details_item h3,
.item_details .details_item h4,
.item_details .details_item h5 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
}

.item_details .details_item h5 {
  font-size: 20px;
  margin-top: 20px;
}

.item_details .details_item .item_desc {
  margin-bottom: 20px;
  color: var(--p_color);
  font-size: 16px;
  line-height: 1.5;
}

.item_details .details_item .btn {
  font-size: 16px;
  border-radius: 2px;
  padding: 12px 15px;
}

.item_details .details_item .btn svg {
  font-size: 20px;
}

.item_details .details_item .item_icons {
  display: flex;
  gap: 10px;
  transition: 0.3s;
  margin: 20px 0;
}

.item_details .details_item .item_icons .item_icon {
  width: 40px;
  height: 40px;
  background: var(--bg_color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
}
.item_details .details_item .item_icons .item_icon:hover {
  background: var(--main_color);
  color: var(--white_color);
}
