@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Global Tags CSS  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --main_color: #0090f0;
  --p_color: #7b7b7b;
  --bg_color: #f3f3f3;
  --white_color: #fff;
  --color_heading: #253237;
  --border_color: #d6d6d6d5;
}

body {
  background-color: var(--white_color);
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: var(--color_heading);
}

li {
  list-style: none;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color_heading);
  font-family: "DM Sans", sans-serif;
}

span {
  color: var(--main_color);
}

p {
  color: var(--p_color);
}

input,
textarea,
select,
button {
  border: none;
  outline: none;
}
/* Global Class CSS */
.container {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

.lazy-image {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.6s ease, transform 0.6s ease;
  will-change: opacity, transform;
}

.lazy-image.show {
  opacity: 1;
  transform: scale(1);
}
