name: Deploy React-E-Commerce-With-Javascript

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      # Checkout the repository
      - name: Checkout
        uses: actions/checkout@v3

        # Set up Node
      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18

        # Install dependencies
      - name: Install dependencies
        run: npm install

        # Build the project
      - name: Build
        run: npm run build
        env:
          VITE_API_BASE_URL: ${{ secrets.VITE_API_BASE_URL }}

        # Deploy the project to GitHub Pages
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
